<h1>Edit {{course.title}}</h1>

<form action="/courses/edit" method="POST" class="course-form">

    <div class="input-field">
        <input id="title" name="title" type="text" value="{{course.title}}" class="validate" required>
        <label for="title">Course Name</label>
        <span class="helper-text" data-error="Enter name" data-success="right"></span>
    </div>

    <div class="input-field">
        <input id="price" name="price" type="number" value="{{course.price}}" class="validate" required min="1">
        <label for="price">Course Price</label>
        <span class="helper-text" data-error="Enter price" data-success="right"></span>
    </div>

    <div class="input-field">
        <input id="img" name="img" type="text" class="validate" value="{{course.img}}" required>
        <label for="img">Img Url</label>
        <span class="helper-text" data-error="Enter url img" data-success="right"></span>
    </div>

    <input type="hidden" name="id" value="{{course.id}}">
    <input type="hidden" name="_csrf" value="{{csrf}}">

    <button class="btn btn-primary">Edit course</button>

</form>

<form action="/courses/remove" method="POST">
    <input type="hidden" name='id' value='{{course.id}}'>
    <input type="hidden" name="_csrf" value="{{csrf}}">
    <button class="btn red">Remove course</button>
</form>
